.category-list {
  color: #808080;
  font-weight: 500;
  cursor: pointer;
  &:hover {
    color: #000;
    font-weight: 700;
    background-color: #f0f0f0;
  }
}

.subcategory-list {
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
  z-index: 10;
  background-color: #fff;
  font-weight: 500;

  li:hover {
    background-color: #f0f0f0;
    color: #000;
    font-weight: 700;
    cursor: pointer;
  }

  // Handle small screens: stack below instead of right
  @media (max-width: 767.98px) {
    position: static;
    width: 100%;
    box-shadow: none;
    border: 2px solid #000;
    transform: scale(0.92);
  }
}
