<div class="container-fluid margin-bottom" *ngIf="productsArr">
  <div class="row">
    <div class="col-2 offset-1 border-end border-secondary padding-top">
      <ul class="list-group border-right border-dark">
        <div
          class="position-relative"
          *ngFor="let cat of categoryWithSubcategoriesArr; let i = index"
          (mouseenter)="hoveredCategoryIndex = i"
          (mouseleave)="hoveredCategoryIndex = null"
        >
          <li
            class="list-group-item category-list border-0 d-flex justify-content-between align-items-center"
            style="cursor: pointer;"
          >
            <span>{{ cat.category }}</span>
            <strong class="text-danger" style="font-size: 24px;">{{ hoveredCategoryIndex === i ? '>' : '' }}</strong>
          </li>

          <ul
            class="list-group subcategory-list shadow"
            *ngIf="hoveredCategoryIndex === i"
          >
            <li
              class="list-group-item border-0"
              style="cursor: pointer;"
              *ngFor="let sub of cat.subcategories"
            >
              {{ sub }}
            </li>
            <li
              class="list-group-item text-muted"
              *ngIf="cat.subcategories.length === 0"
            >
              No subcategories
            </li>
          </ul>
        </div>
      </ul>
    </div>

    <div class="col-8 padding-top">
      <app-carousel></app-carousel>
    </div>
  </div>
</div>
