<div class="container-fluid margin-bottom">
  <div class="row">
    <div class="col-2 offset-1 border-end border-secondary padding-top">
      <ul class="list-group border-right border-dark">
        <li
          class="list-group-item position-relative border-0"
          style="cursor: pointer;"
          *ngFor="let cat of categoryWithSubcategoriesArr; let i = index"
          (mouseenter)="onHover(i)"
          (mouseleave)="onLeave()"
        >
          {{ cat.category }}

          <ul
            class="list-group subcategory-list bg-white shadow"
            *ngIf="hoveredCategoryIndex === i"
          >
            <li class="list-group-item  border-0" style="cursor: pointer;" *ngFor="let sub of cat.subcategories">
              {{ sub }}
            </li>
            <li
              class="list-group-item text-muted"
              *ngIf="cat.subcategories.length === 0"
            >
              No subcategories
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="col-8 padding-top">
      <app-carousel></app-carousel>
    </div>
  </div>
</div>
