<div *ngIf="timeLeft > 0" class="flash-sale-timer">
  <div class="timer d-flex justify-content-start align-items-end">
    <strong class="d-flex flex-column"
      ><span class="words">Days</span>
      <span class="time-format d-flex align-items-center"
        >{{ formatNumber(days) }}
        <small class="text-danger mx-2">:</small>
      </span>
    </strong>
    <span></span>
    <strong class="d-flex flex-column"
      ><span class="words">Hours</span>
      <span class="time-format d-flex align-items-center"
        >{{ formatNumber(hours) }}
        <small class="text-danger mx-2">:</small>
      </span>
    </strong>
    <strong class="d-flex flex-column">
      <span class="words">Minutes</span>
      <span class="time-format d-flex align-items-center"
        >{{ formatNumber(minutes) }}
        <small class="text-danger mx-2">:</small>
      </span>
    </strong>
    <strong class="d-flex flex-column"
      ><span class="words">Seconds</span>
      <span class="time-format">{{ formatNumber(seconds) }}</span>
    </strong>
  </div>
</div>
<div *ngIf="timeLeft <= 0" class="flash-sale-ended">
  <h3>⏰ Flash Sale Ended!</h3>
</div>
