.flash-sale-timer {
  .timer {
    .words {
      font-size: 14px;
      font-weight: 400;
      margin: 0;
    }
    .time-format {
      font-size: 36px;
      margin-bottom: -7px;
      font-weight: 600;
    }
  }
}
