<div class="promo-banner">
  <div class="promo-text">
    Monsoon Sale for All-Weather Essentials – Free Express Delivery & Up to 50%
    Off!
    <a class="link">Shop Now</a>
  </div>
  <select class="lang-select">
    <option value="English">English</option>
    <option value="Hindi">Hindi</option>
    <option value="Marathi">Marathi</option>
    <option value="Telugu">Telugu</option>
  </select>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom padding">
  <a class="navbar-brand fs-24" href="#"><strong>Exclusive</strong></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item mr-5 pb-0 navItem">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item mr-5 pb-0 navItem">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item mr-5 pb-0 navItem">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item pb-0 navItem">
        <a class="nav-link" href="#">Sign Up</a>
      </li>
    </ul>

    <div class="custom-search mt-2">
      <input type="text" placeholder="What are you looking for?" />
      <button type="submit" aria-label="Search">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="20"
          width="20"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M21.71 20.29l-5.388-5.388a7.5 7.5 0 1 0-1.414 1.414l5.388 5.388a1 1 0 0 0 1.414-1.414zM10 16a6 6 0 1 1 0-12 6 6 0 0 1 0 12z"
          />
        </svg>
      </button>
    </div>
  </div>
</nav>
