<div class="promo-banner">
  <div class="promo-text">
    Monsoon Sale for All-Weather Essentials – Free Express Delivery & Up to 50%
    Off!
    <a class="link">Shop Now</a>
  </div>
  <select class="lang-select">
    <option value="English">English</option>
    <option value="Hindi">Hindi</option>
    <option value="Marathi">Marathi</option>
    <option value="Telugu">Telugu</option>
  </select>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom padding">
  <a class="navbar-brand fs-24" routerLink="home"><strong>Exclusive</strong></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item mr-5 pb-0 navItem">
        <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="home"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item mr-5 pb-0 navItem">
        <a class="nav-link" routerLinkActive="active" routerLink="contact">Contact</a>
      </li>
      <li class="nav-item mr-5 pb-0 navItem">
        <a class="nav-link" routerLinkActive="active" routerLink="about">About</a>
      </li>
      <li class="nav-item pb-0 navItem">
        <a class="nav-link" routerLinkActive="active" routerLink="auth">Sign Up</a>
      </li>
    </ul>

    <div class="custom-search mt-2">
      <input type="text" placeholder="What are you looking for?" />
      <button type="submit" aria-label="Search">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
</nav>
