.promo-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #f1f2de;
  font-size: 14px;
  padding: 12px;

  .promo-text {
    flex: 1;
    text-align: center;
    font-weight: 200;

    .link {
      font-weight: 700;
      margin-left: 16px;
      font-size: 16px;
      text-decoration: underline;
      color: #fff;
      cursor: pointer;
    }
  }

  .lang-select {
    border: none;
    background-color: #000;
    height: 30px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }
}

.navItem a {
  color: #000;
  &:hover,
  &:focus,
  &:active {
    border-bottom: 2px solid #000;
    color: grey;
    padding-bottom: 0;
  }
}

.mr-100 {
  margin-right: 100px;
}

.ml-100 {
  margin-left: 100px;
}

.padding {
  padding: 35px 100px 20px;
}

.fs-24 {
  font-size: 24px;
}

.custom-search {
  display: inline-flex;
  border-radius: 4px;
  overflow: hidden;

  background-color: #f1f0f0;
  border-radius: 10px;

  @media (max-width: 991.98px) {
    width: 100%;
    margin-top: 10px;
  }
}

.custom-search input {
  flex: 1;
  border: 0;
  padding: 6px;
  width: 250px;
  height: 50px;
  font-size: 16px;
  outline: none;
  background-color: #f1f0f0;
}

.custom-search input::placeholder {
  font-size: 15px;
  color: #999;
}

.custom-search button {
  border: 0;
  cursor: pointer;
  color: #555;
  transition: color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-search button:hover {
  color: #000;
}

.custom-search button mat-icon {
  font-size: 22px;
}
