<div class="carousel-wrapper mx-auto" *ngIf="topRatedProducts?.length">
  <div class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li
        *ngFor="let product of topRatedProducts; let i = index"
        (click)="goToSlide(i)"
        [ngClass]="{ active: i === currentSlide }"
      ></li>
    </ol>

    <!-- Slides -->
    <div class="carousel-inner">
      <div
        *ngFor="let product of topRatedProducts; let i = index"
        class="carousel-item"
        [ngClass]="{ active: i === currentSlide }"
      >
        <div class="content">
          <h1 class="sale-badge"><strong> Big Sale!!</strong></h1>
          <h2>Upto 35% Off Voucher</h2>
          <p>Exclusive offer just for today!</p>
          <h3>{{ product.title }}</h3>
        </div>
        <div class="image-container">
          <img
            *ngIf="product.images?.length"
            [src]="product.images[0]"
            [alt]="product.title"
          />
        </div>
      </div>
    </div>
  </div>
</div>
