.product-cards-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 1rem;
  margin-left: 1rem;

  scroll-behavior: smooth; // for smooth scrolling when arrows clicked

  &::-webkit-scrollbar {
    display: none;
  }
}

.product-cards-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
}
