
.margin{
  margin: 80px 0 80px;
}

.authBanner {
  width: 100%;
  object-fit: contain;
  img {
    width: 100%;
    object-fit: contain;
    border: 0;
    border-radius: 8px;
  }
}

.form{
  width: 80%;
}

.margin-top{
  margin-top: 50px;
}